<!DOCTYPE html>
<html>

<head>
	<title>Parking manager Page Layout</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>

	<!-- Header Section -->
	<header>
		<div class="head1">Valuemotive Parking Manager</div>
	</header>

	<!-- Menu Navigation Bar -->
	<div class="menu">
		<a href="/parkingpage">active permits</a> <a href="/myvehicles">My
			Vehicles</a>
		<div class="menu-log">
			<a href="/">LOGOUT</a>
		</div>
	</div>

	<!-- Body section -->
	<div class="body_sec">
		<section id="Content">

			<!-- Table -->
			<table style="width: 100%" id="carlist">
				<thead>
					<tr>
						<td>Register Number</td>
						<td>car Name</td>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td>input
						<td>input
					</tr>
					<tr>
						<td>input
						<td>input
					</tr>
					<tr>
						<td>input
						<td>input
					</tr>
				</tbody>
			</table>

			<!-- button to open a popup -->

			<button onclick="togglePopup()" class="first-button">Register
				A New Vehicle</button>

			<!-- Popup to register A new Permit -->
			<div class="popup" id="popup-1">
				<div class="content">
					<!-- close button -->


					<div class="close-btn" onclick="togglePopup()">×</div>

					<!-- Registering a new permit for your vehicle  -->
					<h1>give a permit to a vehicle</h1>
					<label for="Vehicles">Choose your vehicle:</label> <select car="Vehicles" id="Vehicles">
						<option value="Car1">Car1</option>
						<option value="Car1">Car2</option>
						<option value="Car1">Car3</option>
					</select> <br> <input type="submit" class="second-button" value="Register a new permit"
						onclick="togglePopup()">


					<!-- popup script -->
					<script>
						function togglePopup() {
							document.getElementById("popup-1").classList
								.toggle("active");
						}
					</script>
				</div>
		</section>
	</div>

	<!-- Footer Section -->
	<footer>Footer Section</footer>
</body>

</html>